.sci-button {
  font-family: var(--fontHeader);
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 1px;
  color: white;
  border: none;
  display: block;
  cursor: pointer;
  transition:
    color .3s ease-in-out,
    background-color .3s ease-in-out,
    border-color .3s ease-in-out;
}

/* Hover, active, visited states */
.sci-button:hover {
  background-color: var(--primaryDark);
}

.sci-button:active {
  /* TODO */
}

.sci-button:visited {
  /* TODO */
}

/* Contextual states */
.sci-button--sm {
  font-size: 0.75rem;
  padding: 0.5rem 1.6rem;
}

.sci-button--md {
  font-size: var(--fontSizeButton);
  padding: 1rem 3.2rem;
}

.sci-button--lg {
  font-size: 1.25rem;
  padding: 1.5rem 3.2rem;
}

.sci-button--default {
  background-color: var(--primary);
  color: white;
}

.sci-button--outline {
  background-color: transparent;
  color: var(--primary);
  box-shadow: inset 0 0 0 2px var(--primary);
}

.sci-button--outline:hover {
  background-color: transparent;
  color: var(--primaryDark);
  box-shadow: inset 0 0 0 2px var(--primaryDark);
}

.sci-button--success {
  background-color: var(--success);
  color: white;
}

.sci-button--success:hover {
  background-color: var(--successDark);
}
