.button {
  background-color: var(--primary);
  font-family: 'Roboto', sans-serif;
  font-size: var(--fontSizeBody);
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  border: none;
  padding: 1rem 3.2rem;
  display: block;
  cursor: pointer;
  transition:
    color .3s ease-in-out,
    background-color .3s ease-in-out,
    border-color .3s ease-in-out;
}

.button:hover {
  background-color: var(--primaryDark);
}
