:root {
  --primary: #f05424;
  --primaryDark: #d33d0e;
  --dark: #2b2734;
  --fontBody: 'Open Sans', sans-serif;
  --fontHeader: 'Roboto', sans-serif;
  --unit: 1rem;
  --fontSizeBody: 1.5rem;
  --fontSizeButton: 1rem;
}

* {
  font-weight: 300;
  line-height: 1.3;
}

p {
  font-family: var(--fontBody);
}

footer {
  display: none !important;
}
